@{
  Layout = "_Layout";
}
<div>
  <h1>Welcome to the University Registrar</h1>
</div>
<div>
  <p>@Html.ActionLink("See list of students","Index", "Students")</p>
  @*<p>@Html.ActionLink("See list of courses","Index", "Courses")</p>*@
</div>